body {
	min-width: 1280px;
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Helvetica Neue', sans-serif;
	 -webkit-font-smoothing: antialiased;
	 font-size: 16px;
	 background: black;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-family: 'MuseoSansRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
a:hover {
	color: #333;
}
p {
	font-family: 'CallunaLghtRegular', serif;
	margin: 0 auto;
	text-align: left;
	line-height: 2;
	max-width: 700px;
	padding-bottom: 80px;
	padding-top: 30px;
	font-size: 20px;	
}
/*Site Page One*/
.landing-page {
	background: url(../img/landingpage.jpg) center top no-repeat;
	height: 850px;
	background-size: cover;
	position: relative;
}
.top-nav {
	height: 18px;
	padding-top: 40px;
	padding-left: 40px;
	overflow: hidden;
}
.top-nav ul {
	list-style-type: none;
	float: right;
	margin: 0;
}
#logo {
	width: 150px;
	height: 18px;
	left: 2.5em;
}
.landing-page .slogan {
	font-size: 2.7em;
	position: absolute;
	top: 540px;
	left: 16em;	
}
h1.slogan {
	font-weight: lighter;
}
.top-nav ul li {
	display: inline-block;
	padding-left: 1em;
	position: relative;
	right: 3em;
}
.top-nav ul li a{
	color: white;
}
.top-nav ul li a:hover {
	color: #333;
}
.slidedown {
	display: none;
	background: rgba(0,0,0,.5);
	border-radius: 4px;
	width: 13em;
	height: 6em;
	position: absolute;
	left: 1015px;
	top: 70px;
}
.slidedown nav ul {
	padding: 0;
}
.slidedown nav ul li {
	width: 100%;
	display: block;
	text-align: left;
	padding-left: 26px;
}
.slidedown nav ul li a {
	text-transform: uppercase;
	line-height: 1.75;
	font-size: 12px;
	color: white;
}
.slidedown nav ul li a:hover {
	color: #f9c87a;
}
.mobile-dropdown,
#hamberger {
	display: none;
}

/* Site Page Two*/
.work-sixtysix {
	background-color: white;
	width: 100%;
}
h2 {
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	padding: 100px 0 10px 0;
}
h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 12px;
	padding: 70px 0 10px 0;
	letter-spacing: 2px;
}
.objective{
	width: 170px;
	height: 120px;
	margin: 0 auto;
}
.work-sixtysix .entry-content .objective {
	border-bottom: 1px solid #333;
}
.objective h3 {
	margin-bottom: 40px;
}
.painting4 {
	width: 100%;
	margin: 0 auto;
}
.painting4 img {
	margin-bottom: 80px;
	padding-left: 250px;
}
.buttons {
	padding-bottom: 60px;
}
.view-button,
.feedback .buttons a,
.my-story .view-toggle .buttons a {
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #00b495;
	color: white;
	display: block;
	text-align: center;
	padding: 12px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	border-radius: 5px;
	width: 8em;
}
.feedback .buttons a,
.my-story .view-toggle .buttons a {
	width: 13em;
}

/* toggle - page two*/
.view-toggle {
	position: relative;
}
.work-sixtysix .view-toggle .the-final {
	float: left;
	overflow: hidden;
	width: 100%;
	background: white;
	padding: 0;
	position: relative;
}
.work-sixtysix .view-toggle .client h3,
.work-sixtysix .view-toggle .client p,
.work-sixtysix .view-toggle .client a {
	color: #333;
}
.work-sixtysix .view-toggle .client h3{
	border-bottom: 1px solid #333;
	margin-top: 20px;
	padding-top: 40px;
}
.work-sixtysix .view-toggle .client a {
	padding-bottom: 60px;
}
.work-sixtysix .view-toggle .client a:hover {
	color: #00b495;
}
.paintings-slide {
	position: relative;
	width: 100%;
	height: 880px;
	overflow: hidden;
}
#paintings-slide-a {
	position: absolute;
	top: 0px;
	left:0px;
	padding-top: 60px;
	padding-left: 340px;
}
#paintings-slide-b {
	position: absolute;
	top: 100px;
	left:0px;
	padding-top: 360px;
	padding-left: 340px;
}
nav.slide-trigger  {
	height: 50px;
	background: white;
}
.slide-trigger a {
	color: #aaaaaa;
	padding-left: 20px;
	position: relative;
	left: 544px;
	top: 30px;
	font-weight: lighter;
	font-size: 14px;
}
.slide-trigger a:hover {
	color: #00b495;
}
#paintings-slide-c {
	font-family: 'MuseoSansRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	text-align: center;
	font-weight: lighter;
	font-style: italic;
	color: #333;
	padding: 60px 0;
}
.work-sixtysix .view-toggle .the-final h3 {
	color: #00b495;
}
.work-sixtysix .view-toggle .feedback {
	background: #e3e3e3;

}
.feedback .buttons {
	margin-left: 4px;
	margin-top: 40px;
}

/* Site Page Three*/
.work-unlikeness {
	background: url(../img/Unlikeness.jpg) center top no-repeat;
	width: 100%;
	background-size: cover;
}
.work-unlikeness .entry-content h2 {
	color: #d7ddb9;
	padding-top: 100px;
}
.work-unlikeness .entry-content h2 p {
	color: #852c04;
	font-size: 24px;
	font-style: italic;
	text-transform: none;
	text-align: center;
	padding-bottom: 15px;
}
.work-unlikeness .entry-content p {
	color: #d7ddb9;
}
.work-unlikeness .entry-content .objective h3 {
	color: #d7ddb9;
}
.work-unlikeness .entry-content .objective {
	border-bottom: 1px solid #d7ddb9;
}
.cover-image {
	width: 400px;
	margin: 0 auto;
}
.cover-image img {
	margin-bottom: 80px;
}
.work-unlikeness .buttons a.view-button {
	background: #852c04;
}
/* toggle - page three*/

.work-unlikeness .feedback .buttons a.returnto-main {
	background-color: #852c04;
}
.view-toggle {
	max-width: 100%; 
	margin: 0 auto;
	position:relative;
	display: none;
	padding-top: 30px;
}
.view-toggle .client h3 {
	color: #d7ddb9;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 40px;
	border-bottom: 1px solid #d7ddb9;
}
.client {
	width: 700px;
	margin: 0 auto;
	padding-bottom: 6em;
}
.client p {
	color: #d7ddb9;
	text-align: left;
	padding-bottom: 20px;
}
.client p {
	color: #d7ddb9;
	font-size: 16px;
	line-height: 1.5;
}
.client a {
	color: #d7ddb9;
	font-size: 14px;
	line-height: 1.5;
}
.client a:hover {
	color: #852c04;
}
.view-toggle .the-final {
	width: 100%;
	background: #852c04;
}
.work-unlikeness .the-final img {
	width: 1000px;
	padding: 80px 140px;
}
.the-final h3 {
	padding-top: 30px;
	color: #d7ddb9;
}
.feedback {
	width: 100%;
	background: #e9e9e9;
	overflow: hidden;
	margin-bottom: 50px;
}
.feedback p {
	font-size: 20px;
	text-align: left;
	line-height: 2;
	padding-top: 30px;
	padding-bottom: 40px;
	font-family: 'MuseoSansRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
}
img.profile {
	margin-left: 850px;
}
.author p{
	font-size: 14px;
	text-align: right;
	padding: 0 0 30px 0;
	margin-top: 20px;
}

/* Site Page Four*/
.work-timelocket {
	background: url(../img/page004.jpg) center top no-repeat;
	width: 100%;
	background-size: cover;
}
.work-timelocket .entry-content h2 {
	color: #6f2808;
	margin-top: 0;
	padding-top: 100px;
}
.work-timelocket .entry-content .objective h3 {
	color: #6f2808;
}
.work-timelocket .entry-content .objective {
	border-bottom: 1px solid #6f2808;
}
.work-timelocket .entry-content p {
	color: #6f2808;
}
.jacket-image {
	width: 400px;
	margin: 0 auto;
}
.jacket-image img {
	margin-bottom: 50px;
}
.work-timelocket .buttons a.view-button {
	background: #6f2808;
}
.work-timelocket .feedback .buttons a.returnto-main {
	background-color: #6f2808;
}
/* toggle - page four*/
.work-timelocket .view-toggle .client h3,
.work-timelocket .view-toggle .client p,
.work-timelocket .view-toggle .client a {
	color: #6f2808;
}
.work-timelocket .view-toggle .client a:hover {
	color: #333;
}
.work-timelocket .view-toggle .client h3 {
	border-bottom: 1px solid #6f2808;
}
.work-timelocket .view-toggle .the-final {
	background: black;
}
.work-timelocket .view-toggle .the-final img {
	width: 600px;
	padding: 80px 341px;
}
.work-timelocket .view-toggle .feedback {
	background: white;
}
img.profile {
	margin-left: 888px;
	width: 137px;
}

/* Site Page Five - My Work Process*/
.work-process {
	background: white;
}
.process-diagram {
	width:100%;
}
.process-diagram img {
	width: 500px;
	padding: 10px 0 50px 390px;
}
.method {
	text-align: left;
	font-size: 16px;
	font-family: 'CallunaLghtRegular', serif;
	margin: 0 auto;
	line-height: 2;
	max-width: 700px;
	padding-bottom: 80px;
	padding-top: 30px;
}
.steps-one, .steps-two{
	background: white;
	width: 1000px;
	height: 340px;
	padding-left: 150px;
}
.process-step {
	float: left;
	width: 180px;
	height: 240px;
	padding: 2% 3%;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
}
.process-step:last-child {
	box-shadow: none;
}
.prostep {
	text-align: left;
	font-size: 14px;
	padding:10px 0 20px 0;
}
.prostep i {
	font-size: 24px;
	padding-right: 10px;
}
#empathize {
	color: #f59522;
}
#goals {
	color:#ED4037;
}
#ideate {
	color: #8FC542;
}
#wireframe {
	color: #AD3394;
}
#concept {
	color: #5A5B5B;
}
#implement {
	color: #38ACE3;
}
#feedb {
	color: #B5B5B5;
}
#eval {
	color: #F9DE0E;
}
/* Site Page Six - My Story*/
.my-story {
	background: white;
	width: 100%;
	background-size: cover;
}
.my-story .entry-content {
	background: url(../img/meetrosa0.jpg) center top no-repeat;
}
.my-story .entry-content p.project-description {
	width: 460px;
	margin-right: 230px;
	padding-left: 60px;
	padding-bottom: 0;
	box-shadow: inset 1px 0 0 rgba(120,109,95,.3);
}
.my-story .entry-content h2 {
	margin-top: 0;
	padding-top: 80px;
	padding-bottom: 40px;
	color: white;
	background: #786d5f;
	width: 100%;
}
.rosa-desc {
	color: #b42b3d;
	margin-left: 250px;
	text-align: left;
	font-size: 14px;
	float: left;
	width: 25%;
}
.my-story .entry-content p {
	color: #60574c;
}
.my-story .buttons a {
	margin-top: 40px;
	background: #b42b3d;
}
.my-story .view-toggle .buttons a {
	background-color: #b42b3d
}

/* toggle - page six*/
.my-story .view-toggle {
background: white;
}
.my-story .view-toggle h3 {
	font-size: 42px;
	text-transform: none;
	color: white;
	text-align: left;
}
span {
	position: relative;
	left: 100px;
	top: 400px;
}
span.jedi {
	position: relative;
	left: 700px;
	top: 420px;
}
.wrapper-home strong {
	text-decoration: line-through;
	font-weight: normal;
}
.my-story .entry-content p.share{
	color: #786d5f;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;	
}
.fa-twitter {
	font-size: 18px;
	color: #ccc;
	padding: 0 10px;
}
.fa-twitter:hover {
	color: black;
}
.share02 img {
	max-width: 20px;
	vertical-align: middle;
}
.wrapper-roots {
	background: url(../img/asia.jpg) center top no-repeat;
	height: 620px;
	padding: 0;
	margin-top: 80px;
}
.wrapper-america {
	background: url(../img/america.jpg) center top no-repeat;
	height: 620px;
	padding: 0;
}
.wrapper-paris {
	background: url(../img/voyage.jpg) center top no-repeat;
	height: 620px;
	padding: 0;
}
.travel-photos {
	list-style: none;
	padding: 0;
	margin: 0;
	clear: both;
	overflow: hidden;
}
.twopics {
	float: left;
	padding: 0;
	width: 50%;
}
.threepics {
	float: left;
	padding: 0;
	width: 33%;
}
.fourpics {
	float: left;
	padding: 0;
	width: 25%;
}
.wrapper-tech {
	background: url(../img/tech01.jpg) center top no-repeat;
	height: 182px;
	padding: 0;
	margin-top: 60px;
}
.wrapper-tech span {
	position: relative;
	left: 720px;
	top: 100px;
}
.wrapper-uae {
	background: url(../img/dune.jpg) center top no-repeat;
	height: 620px;
	padding: 0;
}
.wrapper-art {
	background: url(../img/iheartart.jpg) center top no-repeat;
	height: 620px;
	padding: 0;
}
.wrapper-wasel {
	background: url(../img/waselart01.jpg) center top no-repeat;
	height: 620px;
	padding: 0;
}
.wrapper-germany {
	background: url(../img/germany.jpg) center top no-repeat;
	height: 620px;
	padding: 0;
}
.wrapper-singa {
	background: url(../img/singa.jpg) center top no-repeat;
	height: 620px;
	padding: 0;
}
.wrapper-home {
	background: url(../img/rosareturn.jpg) center top no-repeat;
	height: 700px;
	padding: 0;
}
#rc {
	max-width: 100px;
}

/*Site Page Seven - Quote*/
.quote {
	width: 100%;
	background: #333;
}
.quote p {
	color: #dddddb;
	font-size: 28px;
	line-height: 2;
	padding-top: 30px;
	padding-bottom: 30px;
	font-style: italic;
	text-align: center;
}
.quote p.goethe {
	font-size: 14px;
	font-style: normal;
	padding-bottom: 40px;
	font-family: 'MuseoSansRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 2px;
}

/*Site Page Eight - Contact*/
.contact-page {
	background: url(../img/contactRosa.jpg) center top no-repeat;
	height: 855px;
	position: relative;
	margin: 0;
}
.contact-page .greeting h2 {
	color: #333;
	margin-top: 0;
	padding-top: 60px;
}
.greeting{
	background: rgba(255,255,255,.5);
	box-shadow: 0 0 .5px rgba(0,0,0,.75);
	width: 600px;
	height: 600px;
	margin: 0;
	position: absolute;
	left: 520px;
	top: 120px;
}
.greeting p {
	width: 450px;
	font-family: 'MuseoSansRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	/*font-weight: bold;*/
}
p.credit-list{
	position: absolute;
	top: 150px;
	font-size: 16px;
	text-align: left;
	padding-left: 70px;
	font-family: 'MuseoSansRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: white;
	display: none;
	line-height: 1.5;
}
p.credit-list span {
	font-weight: bold;
	text-transform: uppercase;
}
a.return {
	font-size: 16px;
	color: white;
}
p.credit-list a:hover {
	color: #37aa12;
}
.toggle-soc {
	font-size: 60px;
}
.toggle-soc .fa {
	color: #e9e9e9;
}
#email {
	position: absolute;
	left: 190px;
	top: 400px;
	color: #333;
	font-size: 20px;
}
i.fa.fa-envelope {
	color: #37aa12;
	padding-right: 5px;
}
#twitter {
	position: absolute;
	left: 740px;
	top: 550px;
}
.fa-twitter-square:hover {
	color: #55acef;
}
.fa-github-square:hover {
	color: #000;
}
.fa-linkedin-square:hover {
	color: #276eac;
}
#github {
	position: absolute;
	left: 800px;
	top: 550px;
}
#linkedin {
	position: absolute;
	left: 860px;
	top: 550px;
}

/*footer*/
.footer-nav {
	background: white;
	padding: 0;
	margin: 0;
	height: 60px;
	clear: both;
	width: 100%;
}
.footer-nav .top-nav {
	margin: 0;
	padding: 0;
	height: 100%;
}
.footer-nav .top-nav ul {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 80px;
}
#copy-right {
	list-style-type: none;
	display: inline-block;
	position: relative;
	left: 620px;
	font-size: 14px;
	color: #333;
	text-align: right;	
	padding-left: 0;
	margin-right: 0;
}
.footer-nav nav ul li a {
	text-decoration: none;
	color: #333;
}
.footer-nav nav ul li a:hover {
	color: #37aa12;
}
@media screen and (max-width: 768px) {
	body{
		max-width: 768px;
		min-width: 768px;
		font-size: 16px;
	}
	p { 
		font-size: 16px;
		line-height: 2;
		padding: 30px 100px 80px 100px;
	}
	.landing-page .slogan {
		position: absolute;
		left: 10em;
	}
	.slidedown {
		position: absolute;
		left: 500px;
	}
	.painting4 img{
		max-width: 600px;
		padding-left: 5.5em;
	}
	.slide-trigger a {
		position: relative;
		left: 280px;
	}
	#paintings-slide-a,
	#paintings-slide-b {
		padding-left: 80px;
		max-width: 600px;
	}
	#paintings-slide-b {
		padding-top: 400px;
	}
	.feedback p {
		font-size: 18px;
		padding-bottom: 20px;
	}
	img.profile {
		margin-left: 580px;
		width: 120px;
	}
	.author p {
		padding-right: 80px;
		padding-bottom: 20px;
		font-size: 14px;
	}
	.work-unlikeness .the-final img {
		width: 650px;
		padding: 80px 60px;
	}
	.view-toggle .client h3,
	.view-toggle .client a {
		margin-left: 38px;
	}
	.work-timelocket .view-toggle .the-final img {
		padding: 80px 80px;
	}
	.work-timelocket .view-toggle .feedback img.profile {
		margin-left: 580px;
	}
	.process-diagram img {
		padding-left: 135px;
	}
	.process-step {
		width: 150px;
		padding: 1% 2%;
	}
	.method {
		padding: 30px 10px 30px 10px;
		font-size: 14px;
	}
	.steps-one,
	.steps-two {
		width: 750px;
		height: 350px;
		padding-left: 20px;
	}
	h3.rosa-desc {
		margin: 0;
		padding-left: 50px;
		font-size: 12px;
		width: 200px;
	}
	.my-story .entry-content p.share {
		padding: 30px 0;
	}
	.my-story .entry-content p.project-description {
		margin-right: 100px;
		width: 360px;
		padding-left: 30px;
		padding-right: 0;
		line-height: 2;
	}
	.wrapper-roots {
	background: url(../img/asia768.jpg) center top no-repeat;
	}
	.twopics {
		width: 655px;
		padding-left: 57px;
	}
	.iheartart03 img, .iheartart04 img, .iheartart05 img,
	.iheartart06 img, .barcelona03 img, .barelona04 img {
		display: none;
	}
	.fourpics {
		width: 40%;
		padding-left: 46px;
		padding-right: 0;
	}
	.threepics {
		width: 50%;
	}
	.travel-photos li:last-child {
		display: none;
	}
	span {
		font-size: 32px;
	}
	.wrapper-tech span {
		left: 100px;
	}
	span.jedi {
		left: 360px;
	}
	.greeting {
		width: 450px;
		position: absolute;
		left: 280px;
	}
	.greeting p {
		width: 380px;
		padding: 30px 40px 80px 40px;
	}
	a#email {
		font-size: 16px;
		position: absolute;
		top: 550px;
		left: 150px;
	}
	#twitter {
		position: absolute;
		left: 430px;
		top: 580px;
	}
	#github {
		position: absolute;
		left: 490px;
		top: 580px;
	}
	#linkedin {
		position: absolute;
		left: 550px;
		top: 580px;
	}
	#copy-right {
		left: 180px;
	}
}
@media screen and (max-width: 480px) {
	body, html{
		max-width: 480px;
		min-width: 480px;
		font-size: 20px;
	}
	p { 
		font-size: 20px;
		line-height: 2;
		padding: 30px 40px 80px 40px;
	}
	h2 {
		font-size: 2.5em;
		padding: 50px 0 10px 0;
		line-height: 1.5;
	}
	.landing-page .slogan {
		position: absolute;
		left: 280px;	
		top: 520px;
		font-size: 2.2em;
	}
	.top-nav {
		height: 20px;
	}
	.top-nav ul li {
		display: none;
	}
	#hamberger {
		font-size: 44px;
		position: absolute;
		left: 400px;
		top: 35px;
		color: white;
		display: block;
	}
	.mobile-dropdown {
		width: 100%;
		height: 800px;
		position: absolute;
		top:0px;
		background: #4077c1;
		padding-top: 60px;
		display: none;
	}
	.mobile-dropdown ul li {
		font-family: 'MuseoSansRegular', sans-serif;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		font-size: 40px;
		line-height: 2;
		list-style: none;
		padding-left: 30px;
		font-weight: bold;
	}
	.mobile-dropdown ul li a {
		color: white;
	}
	.mobile-dropdown ul li a:hover{
		color: #f9c87a;
	}
	.mobile-dropdown ul li.work-list {
		font-size: 32px;
		font-weight: lighter;
		padding-left: 50px;
	}
	.painting4 img{
		max-width: 380px;
		padding-left: 2.8em;
	}
	.view-button,
	.feedback .buttons a,
	.my-story .view-toggle .buttons a {
		padding: 14px;
		width: 13em;
		box-shadow: none;
		border-radius: 0;
	}
	.feedback .buttons a,
	.my-story .view-toggle .buttons a{
		margin: 0 96px;
	}
	.buttons {
		padding-bottom: 80px;
	}
	.work-sixtysix .view-toggle .client h3,
	.work-sixtysix .view-toggle .client a {
		margin-left: 38px;
	}
	.client {
		width: 450px;
		padding-left: 15px;
	}
	.painting4 img {
		margin-bottom: 30px;
	}
	.slide-trigger a {
		position: relative;
		left: 130px;
		font-size: 20px;
	}
	.paintings-slide {
		height: 700px;
	}
	#paintings-slide-a,
	#paintings-slide-b {
		padding-left: 40px;
		max-width: 400px;
	}
	#paintings-slide-b {
		padding-top: 240px;
	}
	.feedback p {
		font-size: 18px;
	}
	img.profile {
		margin-left: 320px;
		width: 100px;
	}
	.author p {
		padding-right: 60px;
		padding-bottom: 20px;
		font-size: 16px;
	}
	.cover-image, .cover-image img{
		width: 350px;
	}
	.work-unlikeness .the-final img {
		width: 400px;
		padding: 80px 40px;
	}
	.jacket-image, .jacket-image img{
		width: 300px;
	}
	.work-timelocket .view-toggle .the-final img {
		width: 400px;
		padding: 80px 40px;
	}
	.work-timelocket .view-toggle .feedback img.profile {
		margin-left: 320px;
	}
	.process-diagram img {
		width: 350px;
		padding-left: 60px;
	}
	.process-step {
		width: 300px;
		height: 100%;
		padding: 1% 1%;
		float: none;
		margin: 0 auto;
		box-shadow: none;
	}
	.steps-two {
		padding-bottom: 40px;
	}
	.steps-one, .steps-two {
		width: 400px;
		height: 100%;
		margin-left: 40px;
		padding-left: 0;
	}
	.method {
		background-color: rgba(0,0,0,.15);
		display: none;
	}
	p.method {
		font-size: 20px;
	}
	.prostep {
		font-size: 16px;
		text-align: center;
		padding: 20px 0;
		box-shadow: 1px 1px 1px rgba(0,0,0,.15);
	}
	.my-story .entry-content h2 {
		width: 100%;
		height: 140px;
		padding: 60px 0 0 0;
	}
	.rosa-desc {
		float: none;
		padding-right: 10px;
		text-align: right;
		box-shadow: inset -1px 0 0 rgba(120,109,95,.3);
	}	
	.my-story .entry-content p.share {
		position: relative;
		left: 230px;
		bottom: 50px;
	}
	.my-story .entry-content p.project-description {
		text-align: left;
		box-shadow: none;
		margin-right: 0;
		padding: 20px 60px;
	}
	.wrapper-roots {
	background: url(../img/asia480.jpg) center top no-repeat;
	}
	span, .wrapper-tech span {
		left: 40px;
		font-size: 40px;
	}
	.my-story .view-toggle h3 {
		padding-right: 40px;
		line-height: 1.5;
	}
	span.jedi {
		left: 40px;
		top: 195px;
	}
	.iheartart01 img,
	.iheartart02 img {
		max-width: 360px;
	}
	.paris01 img {
		max-width: 480px;
	}
	.paris02 img,.paris03 img,
	.uae01 img, .uae02 img,
	.turkey01 img, .turkey02 img,
	.waselart01 img, .waselart02 img,
	.barcelona01 img, .barcelona02 img {
		max-width: 240px;
	}
	.fourpics {
		width: 50%;
		padding: 0;
	}
	.quote p {
		font-size: 29px;
		font-style: normal;
	}
	.contact-page {
		background: url(../img/contactRosaA.jpg) center top no-repeat;
		height: 536px;
	}
	.greeting {
		width: 320px;
		height: 450px;
		position: absolute;
		left: 120px;
		top: 60px;
	}
	.contact-page .greeting h2 {
		padding-top: 10px;
	}
	.greeting p {
		width: 280px;
		padding: 0px 8px 80px 8px;
		line-height: 1.8;
		font-size: 14px;
	}
	p.credit-list {
		font-size: 14px;
		width: 280px;
		position: absolute;
		top: 100px;
		padding-left: 20px;
		padding-bottom: 0;
	}
	em {
		display: none;
	}
	.fa-heart {
		vertical-align: top;
	}
	a#email {
		font-size: 18px;
		position: absolute;
		top: 360px;
		left: 60px;
	}
	.toggle-soc {
		font-size: 50px;
	}
	#twitter { 
		position: absolute;
		left: 200px;
		top: 440px;
	}
	#github {
		position: absolute;
		left: 260px;
		top: 440px;
	}
	#linkedin {
		position: absolute;
		left: 320px;
		top: 440px;
	}
	.footer-nav nav ul li {
		font-size: 16px;
	}
	#copy-right {
		left: 160px;
	}
}


