body {
	min-width: 1280px;
	max-width: 1280px;
	margin: 0 auto;
	font-family: 'Helvetica Neue', sans-serif;
	 -webkit-font-smoothing: antialiased;
	 font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-family: 'MuseoSansRegular', sans-serif;
	-webkit-font-smoothing: antialiased;
	/*font-weight: lighter;*/
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
a:hover {
	color: #333;
}
p {
	font-family: 'CallunaLghtRegular', serif;
	margin: 0 auto;
	text-align: center;
	line-height: 2;
	max-width: 700px;
	padding-bottom: 80px;
	padding-top: 30px;
	font-size: 18px;	
}
/*Site Page One*/
.landing-page {
	background: url(../img/landingpage.jpg) center top no-repeat;
	height: 859px;
	background-size: cover;
	position: relative;
}
.top-nav {
	height: 18px;
	padding-top: 40px;
	padding-left: 40px;
}
.top-nav ul {
	list-style-type: none;
	float: right;
	margin: 0;
}
#logo {
	width: 150px;
	height: 18px;
	left: 2.5em;
}
.landing-page .slogan {
	font-size: 2.7em;
	position: absolute;
	top: 540px;
	left: 16em;
	min-width: 464px;
}
h1.slogan {
	font-weight: lighter;
}
.top-nav ul li {
	display: inline-block;
	padding-left: 1em;
	position: relative;
	right: 3em;
}
.top-nav ul li a{
	color: white;
}
.top-nav ul li a:hover {
	color: #333;
}
.slidedown {
	display: none;
	background: rgba(0,0,0,.5);
	border-radius: 4px;
	width: 13em;
	height: 6em;
	position: absolute;
	left: 1015px;
	top: 70px;
}
.slidedown nav ul {
	padding: 0;
}
.slidedown nav ul li {
	width: 100%;
	display: block;
	text-align: left;
	padding-left: 26px;
}
.slidedown nav ul li a {
	text-transform: uppercase;
	line-height: 1.75;
	font-size: 12px;
	color: white;
}
.slidedown nav ul li a:hover {
	color: #f9c87a;
}
/* Site Page Two*/
.work-sixtysix {
	background-color: white;
	width: 100%;
	/*height: 1000px;*/
}
h2 {
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	padding: 100px 0 10px 0;
}
h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 12px;
	padding: 70px 0 10px 0;
}
.objective
{
	width: 100px;
	margin: 0 auto;
}
.work-sixtysix .entry-content .objective {
	border-bottom: 1px solid #333;
}
.objective h3 {
	margin-bottom: 30px;
}
.painting4 {
	width: 800px;
	margin: 0 auto;
}
.painting4 img {
	margin-bottom: 80px;
}
.buttons {
	padding-bottom: 100px;
}
.view-button {
	margin: 0 auto;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #00b495;
	color: white;
	display: block;
	text-align: center;
	padding: 12px;
	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
	border-radius: 5px;
	width: 8em;
}
/* Site Page Three*/
.work-unlikeness{
	background: url(../img/Unlikeness.jpg) center top no-repeat;
	width: 100%;
	/*height: 1250px;*/
	background-size: cover;
}
.work-unlikeness .entry-content h2 {
	color: #d7ddb9;
	padding-top: 100px;
}
.work-unlikeness .entry-content p {
	color: #d7ddb9;
}
.work-unlikeness .entry-content .objective h3 {
	color: #d7ddb9;
}
.work-unlikeness .entry-content .objective {
	border-bottom: 1px solid #d7ddb9;
}
.cover-image {
	width: 400px;
	margin: 0 auto;
}
.cover-image img {
	margin-bottom: 80px;
}
.work-unlikeness .buttons a.view-button {
	background: #9e3d1e;
}


/* toggle - page three
.view-toggle {
	max-width: 700px;
	margin: 0 auto;

}
.view-toggle .client h3 {
	color: #d7ddb9;
	text-align: center;
	margin: 0;
}
.view-toggle .client {
	width: 100px;
	height: 40px;
	border-bottom: 1px solid #d7ddb9;
}
.view-toggle p {
	color: #d7ddb9;
	text-align: left;
}*/
/* Site Page Four*/
.work-timelocket{
	background: url(../img/page004.jpg) center top no-repeat;
	width: 100%;
	/*height: 1300px;*/
	background-size: cover;
}
.work-timelocket .entry-content h2 {
	color: #6f2808;
	margin-top: 0;
	padding-top: 100px;
}
.work-timelocket .entry-content .objective h3 {
	color: #6f2808;
}
.work-timelocket .entry-content .objective {
	border-bottom: 1px solid #6f2808;
}

.work-timelocket .entry-content p {
	color: #6f2808;
}
.jacket-image {
	width: 400px;
	margin: 0 auto;
}
.jacket-image img {
	margin-bottom: 50px;
}
.work-timelocket .buttons a.view-button {
	background: #6f2808;
}
/* Site Page Five - My Work Process*/
.process-step p {
	text-align: left;
}
.steps {
	background: white;
	width: 100%;
	height: 1000px;
}
.process-step {
	float: left;
	width: 19%;
	padding: 2% 3%;
	box-shadow: inset -1px 0 0 rgba(0,0,0,.15);
}
.process-step:last-child {
	box-shadow: none;
}
/* Site Page Six - My Story*/
.my-story{
	background: url(../img/bigR.jpg) center top no-repeat;
	/*height: 1143px;*/
	background-size: cover;
	width: 100%;
}
.my-story .entry-content h2 {
	margin-top: 0;
	padding-top: 100px;
	color: #988a78;
	text-shadow: 1px 1px 2px #fff;
}
.my-story .entry-content p {
	color: #7e7364;
	text-shadow: 1px 1px 2px #fff;
}
.my-story .buttons a {
	background: #b42b3d;
}
/*Site Page Seven - Contact*/
.contact-page {
	background: url(../img/contactRosa.jpg) center top no-repeat;
	height: 857px;
	background-size: cover;
	position: relative
}
.contact-page .greeting h2 {
	color: #333;
	margin-top: 0;
	padding-top: 100px;
}
.greeting{
	background: rgba(255,255,255,.5);
	box-shadow: 0 0 .5px rgba(0,0,0,.75);
	width: 600px;
	height: 600px;
	position: absolute;
	left: 520px;
	top: 120px;
	position: relative;
}
.social-toggle {
	position: relative;
}
#email, #twitter, #github, #linkedin, #toggle-email, #toggle-twitter, #toggle-github, #toggle-linkedin {
	width: 60px;
	height: 60px;
}

#email {
	position: absolute;
	top: 450px;
	left: 700px;
}
#twitter {
	position: absolute;
	top: 450px;
	left: 760px;
}
#github {
	position: absolute;
	top: 450px;
	left: 820px;
}
#linkedin {
	position: absolute;
	top: 450px;
	left: 880px;	
}
#toggle-email {
	position: absolute;
	top: 510px;
	left: 700px;
	display: none;
}
#toggle-twitter {
	position: absolute;
	top: 510px;
	left: 760px;
	display: none;
}
#toggle-github {
	position: absolute;
	top: 510px;
	left: 820px;
	display: none;
}
#toggle-linkedin {
	position: absolute;
	top: 510px;
	left: 880px;
	display: none;
}

/*footer*/
.footer-nav nav{
	height: 60px;
	background: white;
	margin: 0;
}
.footer-nav nav ul li {
	list-style-type: none;
	display: inline-block;
	float: right;
	font-size: 12px;
	color: #333;
	padding-right: 15px;
}
.footer-nav nav ul li a {
	text-decoration: none;
	color: #333;
}
.footer-nav nav ul li a:hover {
	color: #37aa12;
}

